anime
aria2.conf
aria2.session
autoupload.sh
cert.pem
checkpoint
copy_journal.py
dht.dat
dht6.dat
dlcomplete.sh.bak
error.sh
info.sh
intermediate.crt
intermediate.pem
logcertfile
prestart.sh
privkey.pem
restart.sh
start.sh
stop.sh
tracker.sh
update_tracker.sh
RSSLIST_timestamp
RSSLIST_timestamp_tmp
TSDM.lock
.vscode
pcs_command_history.txt
pcs_config.json
pcs_uploading.json
TSDM.txt
ren.sh
*.o
.depend
*